* {
    margin: 0;
    padding: auto;
}

body {
    background-image: url(https://images.unsplash.com/photo-1577538928305-3807c3993047?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2FsZXxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}

.content {
    color: white;
    opacity: 70%;
    margin-top: 6rem;
    text-align: center;
    align-items: center;

    justify-content: center;
}

h2 {
    margin-top: 3rem;
}